/**
 * Panel
 */
.c-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $c-purple--dark;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;

  @include media(">small", "height>small") {
    height: auto;
    min-height: 100%;
    overflow: visible;
  }


  > * {
    display: flex;
    flex-direction: column;
  }

  &__hero {
    background-color: $c-purple--dark;
    color: $c-purple--light;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    padding: $space-double $space;
    flex: 1;

    &-heading h2 {
      padding: $space-half 0;

      @include media("height<=small") {
        padding: $space 0;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50vh;
    padding: $space;

    @include media("height>device-height") {
      flex-basis: calc((#{$device-height} - #{$space-double}) / 2);
    }


    &-body {
      width: 100%;
      padding-bottom: $space;
    }

    &-footer {
      width: 100%;
    }
  }

  &__gif {
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
    }

    &::before {
      width: 50px;
      height: 50px;
      background: url('../assets/star-small.png') center center no-repeat;
      background-size: 50px 50px;
      bottom: -10px;
      left: -5px;
      opacity: 0;
      -webkit-animation: scaleIn 1s $transition-effect forwards;
      animation: scaleIn 1s $transition-effect forwards;
      animation-delay: 0.25s;
    }

    &::after {
      width: 80px;
      height: 80px;
      background: url('../assets/star-large.png') center center no-repeat;
      background-size: 80px 80px;
      top: -39px;
      right: -10px;
      opacity: 0;
      -webkit-animation: scaleIn 1s $transition-effect forwards;
      animation: scaleIn 1s $transition-effect forwards;
    }

    img {
      z-index: 1;
      width: 100%;
      height: auto;
      max-width: $xsmall;
      overflow: hidden;
      border-radius: 30px;
      border: 2px solid white;

      @include media("<=xsmall") {
        max-width: 290px;
        max-height: 200px;
        width: auto;
      }
    }
  }
}

/**
 * Panel - Home
 */
.c-panel--home {
  .c-panel__hero {
    background: $c-purple--dark url('../assets/texture-dark.png') center center repeat;
  }

  .c-panel__content {
    background: $c-purple--light url('../assets/texture-light.png') center center repeat;
    background-size: 150px 150px;
    padding: $space;
    flex-basis: 40vh;

    &-body {
      display: flex;
      flex: 1;
      align-items: center;
      padding-left: $space;
      padding-right: $space;
    }

    h1 {
      text-align: center;
      width: 100%;

      span {
        display: block;
        width: 100%;
        font-size: 110%;
      }

      span:last-child {
        font-family: $font-secondary;
        font-weight: normal;
        margin-top: 5px;
        font-size: 100%;
      }
    }
  }

  .o-branding {
    &__text {
      fill: $c-purple;
    }
  }
}

/**
 * Panel - Resolutions
 */
.c-panel--resolutions {
  background-color: $c-purple--dark;

  &.is-active {
    .c-panel__hero::before {
      background: url('../assets/burst-choose-wisely-active.png') bottom center no-repeat;
      background-size: 200px 118px;
    }
  }

  &.is-revised {
    .c-panel__hero::before {
      display: none;
    }
  }

  .c-panel__hero {
    padding: 0;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &-heading {
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: $space-double $space 108px $space;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
      opacity: 0;
      background: url('../assets/burst-choose-wisely.png') bottom center no-repeat;
      background-size: 200px 118px;
      -webkit-animation: opacitySlideInUp 1s $transition-effect forwards;
      animation: opacitySlideInUp 1s $transition-effect forwards;
      animation-delay: 1.25s;
    }
  }

  .c-panel__content {
    background-color: $c-purple;
    position: relative;
    z-index: 2;
  }

  .o-statement-value {
    font-family: $font-secondary;
    font-weight: 500;
    color: $c-orange;
    opacity: 0;
  }

  &.is-revised {
    .c-panel__hero-heading {
      padding: $space-double $space;
    }

    .c-panel__content {
      background-color: $c-purple--dark;
    }
  }
}

/**
 * Panel - Complete
 */
.c-panel--complete {
  background-color: $c-purple--light;

  .c-panel__hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 108px;

    h2 {
      text-align: center;

      span {
        display: block;
        width: 100%;
      }

      span:last-child {
        font-family: $font-secondary;
        color: $c-orange;
        margin-top: 5px;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 200px 118px;
      -webkit-animation: changeImage 1s $transition-effect infinite alternate;
      animation: changeImage 1s $transition-effect infinite alternate;
    }
  }

  .c-panel__content-body {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 $space-double $space $space-double;
  }

  .o-branding {
    &__text {
      fill: $c-purple;
    }
  }
}

/**
 * Panel - Results
 */
.c-panel--results {
  position: relative;
  overflow: hidden;

  @include media(">small") {
    padding-top: $space;
  }


  .c-panel__hero {
    padding: 0;
    justify-content: center;
  }

  .c-panel__content {
    flex-basis: auto;
    padding-bottom: $space;
  }
}

/**
 * Results Card
 */
.c-results-card {
  background-color: $c-purple--dark;
  color: $c-purple--light;
  padding: $space;

  &__logo {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__body {
    padding-top: $space-double;

    span {
      line-height: 1.2;
      font-family: $font-secondary;
      font-weight: 500;
      color: $c-orange;
    }
  }

  &__website {
    font-size: $font-size-s;
    display: none;
  }
}

#card-square {
  position: absolute;
  z-index: -1;
  width: 600px;
  height: 600px;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;

  .c-results-card {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: none;

    &__logo {
      width: 150px;
      max-width: 150px;
      height: 150px;
      display: block;
    }

    &__body {
      font-size: 22px;
      padding: $space-double 0;
    }
  }
}

/**
 * Logo
 */
.o-logo {
  width: 100%;
  max-width: $xsmall;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(50vh - 85px);
    margin: auto;
  }
}

/**
 * Branding
 */
.o-branding {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-orange;
  font-size: $font-size-s;
  text-decoration: none;

  svg {
    width: 100px;
    height: auto;
  }

  &__text {
    fill: $c-white;
  }
}

.o-buttons + .o-branding,
button + .o-branding {
  margin-top: $space;

  @include media(">xsmall") {
    margin-top: 30px;
  }
}

/**
 * Progress
 */
.o-progress-bar {
  position: relative;
  display: block;
  width: 100%;

  progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    appearance: none;
    border: none;
    background-color: $c-purple--light;

    &::-moz-progress-bar {
      background-color: $c-purple--light;
    }

    &::-webkit-progress-bar {
      background-color: $c-purple--light;
      width: 100%;
      transition: $transition-all;
    }

    &::-webkit-progress-value {
      background: $c-orange;
      transition: width 1s ease-in;
    }
  }
}

.o-progress-counter {
  color: $c-orange;
  line-height: 18px;
  font-size: $font-size-s;
  letter-spacing: 2px;
  font-weight: bold;
}

/**
 * Social Share
 */
.c-social-share {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $c-purple--light;
  padding: $space 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  transform: translateY(1000px);
  opacity: 0;

  &.is-inactive {
    -webkit-animation: slideInUpAlt 0.5s $transition-effect backwards;
    animation: slideInUpAlt 0.5s $transition-effect backwards;
  }

  &.is-active {
    -webkit-animation: slideInUpAlt 1s $transition-effect forwards;
    animation: slideInUpAlt 1s $transition-effect forwards;
    z-index: 999;
  }

  @include media(">small") {
    position: absolute;
  }


  a {
    color: $c-purple--dark;
    text-decoration: none;
    text-align: left;
    padding: $space-half $space;
    font-size: $font-size-m;
    display: flex;
    align-items: center;
    position: relative;
    transition: $transition-all;
    line-height: 1;

    &::after {
      content: "→";
      font-family: $font-primary;
      font-size: $font-size-m;
      line-height: 1;
      text-align: right;
      position: absolute;
      right: $space;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
      transition: $transition-all;
    }

    &:hover {
      background-color: rgba($c-white, 0.2);

      &::after {
        right: calc(#{$space} - 3px);
      }
    }
  }

  .o-button__screenshot {
    background-color: rgba($c-white, 0.5);
    padding-bottom: 30px;

    &::after {
      top: 11px;
      bottom: auto;
    }
  }

  .o-icon {
    width: 30px;
    height: 30px;
    max-width: 30px;
    border-radius: 30px;
    overflow: hidden;
    display: inline-flex;
    margin-right: $space;

    img {
      width: 100%;
      height: auto;
    }
  }

  .o-small {
    font-size: $font-size-s;
    line-height: 1.4;
    display: block;
  }
}
