/* ------------------------------------ *\
    $COLOR MODIFIERS
\* ------------------------------------ */

/**
 * Text Colors
 */
.u-color--pink,
.u-color--pink a {
  color: $c-purple--light;
}

.u-color--maroon,
.u-color--maroon a {
  color: $c-purple--dark;
}

.u-color--red,
.u-color--red a {
  color: $c-orange;
}

/**
 * Background Colors
 */
.u-background-color--pink {
  background-color: $c-purple--light;
}

.u-background-color--maroon {
  background-color: $c-purple--dark;
}

/**
 * SVG Fill Colors
 */
.u-path-fill--red {
  path {
    fill: $c-orange;
  }
}
