/* ------------------------------------ *\
    $MIXINS
\* ------------------------------------ */

/**
 * Standard paragraph
 */
@mixin p {
  line-height: 1.5;
  font-family: $font-primary;
  font-size: $body-font-size;
}
